* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#msk {
  font-family: "Playfair Display";
  font-style: normal;
  letter-spacing: 3px;
  color: #f1f2f6;
  

  font-weight: 700;
  font-size: min(90px, 5vw);
  /* короче ничего не помогает тупая бульма */
}

body {
  background-color: rgb(131, 93, 101);
}

.main-container {
  background-image: url(img/moscow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  padding-bottom: 9%;
  color: white;
}

.section-about > h1 {
  /* ошалеть работает вот так прикинь */
  font-family: "Playfair Display";
  font-style: normal;
  letter-spacing: 3px;
  color: #f1f2f6;
  

  font-weight: 700;
  font-size: min(40px, 5vw);
}
.section-about > p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: min(20px, 5vw);
  font-weight: 400;

  padding-top: 3%;
  padding-bottom: 4%;
}

a {
  text-decoration: none;
  color: white;
}

.container-navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;

  width: 90%;
  padding-top: 5%;
  color: #f1f2f6;

  text-align: center;
}

.links {

  display: flex;
  gap: 50px;
  color: #f7f7f9; 
  /* не применяется цвет */
}

.links>a {
  color: #f7f7f9;
  /* а тут не работает прикинь */
}

.section-about {
  display: flex;
  flex-direction: column;

  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
}

.section-about>button {
  font-size: 1em;

  padding: 1% 2% 1% 2%;
  width: 25%;
  

  color: #e1ebed;
  /* хоть я до потолока прыгну он не прменяется тупой фреймворккккк все из-за него*/
  font-weight: 600;

  background: none;
  border-radius: 38px;
  border: 2px solid #bb4597;

  cursor: pointer;

}

.second-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 7% 5% 7% 5%;
}

/* 2 блок */
.first-container {
  display: flex;
  flex-flow: column nowrap;
}

.second-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 5%;
  padding: 7% 5% 7% 5%;
  height: 500px;
}

.second-img {
  background: url(img/night.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 50%;
  height: 100%;

  color: white;
  position: relative;
  border-radius: 16px;
}

.second-inform {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  color: #f7f7f9;
}

/* 3 блок */

.third-section {
  display: flex;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
}

.third-img {
  background-image: url(img/people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 4 блок */

.four-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: 7% 5% 7% 5%;
}



/* последний блок */

.foother-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding-bottom: 5%;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.icons {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.icons :nth-child(1) {
  background-image: url(img/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 50px;
}

.icons :nth-child(2) {
  background-image: url(img/inst.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 50px;
}

.icons :nth-child(3) {
  background-image: url(img/tg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 50px;
}


/* при наведении результат */
button:hover {
  font-size: 1em;

  padding: 1.5% 4% 1.5% 4%;

  color: #000000;
  font-weight: 600;

  background: #90a6ab;
  border-radius: 38px;
  border: 2px solid #192d32;

  cursor: pointer;
}

.five-section {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;


  padding: 5%;
}

.five-section>p {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.five-inputs {
  display: flex;
  gap: 20px;
  width: 40%;
  justify-content: space-around;
  flex-flow: column nowrap;

  
  margin-bottom: 10%;
}


.five-inputs>input {
  font-weight: 500;
  font-size: 1em;

  padding: 5% 5% 5% 5%;

  color: #060606;  
  font-weight: 600;


  background-color: #f8f9fa;  
  /* не могу из-за фреймворка поменять цвет текст внутри инпутов поэтому так сделала */
  border-radius: 38px;
  border: 2px solid #a0bad4;

  cursor: pointer;
}

.five-inputs>button {
  font-size: 1em;

  padding: 5% 4% 5% 4%;

  color: #93d4e2;
  font-weight: 600;

  background: none;
  border-radius: 38px;
  border: 2px solid #bb4597;

  cursor: pointer;
}

.five-inputs>button:hover {
  font-size: 1em;

  padding: 5% 4% 5% 4%;

  color: #fdfafa;
  font-weight: 600;

  background: #747f82;
  border-radius: 38px;
  border: 2px solid #355258;

  cursor: pointer;
}